.team {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.form {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.input {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100px;
}

.list {
  padding: 0;
}

.pokemon {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
