/* Mobile Portrait */
@media only screen and (max-width: 480px) {
  .intro {
    width: 90%;
    font-size: small;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .intro {
    width: 70%;
    font-size: small;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .intro {
    width: 60%;
    font-size: medium;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .intro {
    width: 800px;
    font-size: medium;
  }
}

.intro {
  position: relative;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  width: 800px;
  background-color: #9e9999;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(./../../../public/pokeball.png);
  color: rgba(255, 255, 255, 0.899);
  text-shadow: 2px 2px #696969;
  font-weight: bold;
  font-size: medium;
}
